<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% block head %}

    {% endblock head %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,600&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename = 'bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/curso-por-internet.svg')}}" type="image/x-icon">
    

    {% block title %}
         <title>Control Estudiantes</title>
    {% endblock title %}

    
</head>

<body>
    <header class="main-head">
        <div class="main-nav">
            <a href="{{url_for('inicio')}}" id="logo">Control de Estudiantes</a>
        </div>
    </header>

    {% block body %}
    {% endblock body %}

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

</body>

    {% block script %}
    {% endblock script %}

</html>